.bord {
  border-radius: 100%;
}

.subsBox{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.subsBoxImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.ras{
  width: 250px
}