#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}



.fixedca{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;
  z-index: 99999999999;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.active{
  color: red;
}
